/* Style for the staff container */
.staff {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

    /* Style for the staff heading */
    .staff h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

/* Style for each staff member */
.staff-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

    /* Style for staff member images */
    .staff-member img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
    }

    /* Style for staff member names */
    .staff-member h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Style for staff member job titles */
    .staff-member p:first-child {
        font-size: 16px;
        margin-bottom: 5px;
    }

    /* Style for staff member descriptions */
    .staff-member p:last-child {
        font-size: 14px;
        text-align: center;
    }
